<div class="home-page">
    <div class="home-page-header container">
        <h2 class="h2 text-center" style="font-size:45px;  cursor: default">Welcome To Travel</h2>
        <div class="row">
            <div class="col-md-4 top-mar">
            </div>

            <div class="col-md-4 top-mar" style="text-align: center">
                <a class="btn btn-primary ng-pristine ng-valid ng-not-empty active ng-touched" ng-click="onButtonClick()">
                    <h3>Lets start</h3>
                </a>
            </div>
            <div class="col-md-4 top-mar">

            </div>
        </div>
    </div>

</div>